<%- include("../partials/header") %>

<div class="container">

    


    <div class="col-md-12">
        <div class="jumbotron mt-5" style="background: #4DA0B0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <a style="text-align: center; text-decoration: none;" href="">
                <h1 style="color: white;"><%= blog.name %></h1>
            </a>
        </div>

        <div class="img-thumbnail p-5" style="border-color: #fd746c; background: #fd746c;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ">
            <img class="img-fluid" style="width: 100%;" src="<%= blog.image %>" alt="">

            <div class="figure d-flex justify-content-between">

                <a class="p-3" href="">
                    <h4><%= blog.name %></h4>
                </a>


            </div>

            <div class="row m-3 d-flex justify-content-between">
                <h6>Oluşturan <%= blog.author.username %></h6>
                <h6>Oluşturulma Tarihi : <%= blog.date.toDateString() %></h6>
            </div>


            <p class="p-3"><%- blog.description %></p>
        </div>

        <div class="card mt-3 mb-3">
            <div class="d-flex justify-content-between" style="background: #eacda3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                <p>
                    <a class="btn btn-lg btn-warning m-3" href="/blogs/<%=blog._id %>/edit">Edit</a>
                </p>
                <%} %>

                <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>


                <form action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
                    <p>
                        <button class="btn btn-lg btn-danger m-3">Delete</button>
                    </p>
                </form>


                <%} %>


            </div>









            <!--COMMENT SECTION START-->
            <div class="card p-3 mb-5" style="background: #eacda3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            ">
                <!--Setting up the add new comment button that is used for collapsing-->
                <div class="text-right">
                    <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment"
                        aria-expanded="false" aria-controls="collapseComment">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Yeni Bir Yorum Ekle</a>
                </div>

                <!--Comment section title-->
                <h4><strong>Yorumlar <span class="glyphicon glyphicon glyphicon-comment"
                            aria-hidden="true"></span></strong></h4>

                <!--Collapse Add a comment form START-->
                <div class="collapse " id="collapseComment">
                    <div class="card" style="border-left: 5px solid #e0d643;">
                        <% if(!currentUser) { %>
                        <!--If the user is not logged in, direct him to the login page-->
                        <h5 class="ml-1">Yorum Yapabilmek İçin Giriş Yapmalısın <a href="/login">Buraya Tıklayarak</a> Giriş Sayfasına Gidebilirsin.</h5>
                        <% } %>
                        <% if(currentUser) { %>
                        <!--If the user is logged in, show the new comment form-->
                        <h4>Yorumunu Yaz ! <span class="glyphicon glyphicon glyphicon-pencil"
                                aria-hidden="true"></span></h4>
                        <form id="add-comment-form" action="/blogs/<%= blog._id %>/comments" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="Yorumunu Yaz"
                                    form="add-comment-form" rows="5" cols="70"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment"
                                        aria-hidden="true"></span></button>
                            </div>
                        </form>
                        <% } %>
                    </div>
                </div>
                <!--Collapse Add a comment form END-->

                <hr>

                <!--Check if there are comments, if there are none say no comments.-->
                <% if (blog.comments.length === 0) { %>
                <em style="color: grey;">Henüz Bu Yazıya Ait Bir Yorum Yok ... </em>
                <% } %>

                <!--Display comments by looping through them-->
                <% blog.comments.forEach(function(comment) { %>
                <div class="row p-3">
                    <div class="col-md-12">
                        <strong>
                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                            <!--If the current user owns the comment, change the color of the user icon-->
                            <span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <% } else { %>
                            <!--Else just display it black-->
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <% } %>
                            <!--Print out the author username-->
                            <%= comment.author.username %>
                        </strong>

                        <!--Show when the comment was made-->


                        <!--Printing the comment-->
                        <p><%= comment.text %></p>

                        <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                        <% if (currentUser && currentUser._id.equals(comment.author.id) || currentUser && currentUser.isAdmin == true) { %>

                        <!--Edit button used for collapsing the edit comment form-->
                        <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse"
                            href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                            aria-controls="collapse<%= comment._id %>">
                            Düzenle</a>

                        <!--Delete comment button-->
                        <form id="delete-form"
                            action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"
                            style="display: inline;">
                            <button class="btn btn-xs btn-danger">Yorumu Sil</button>
                        </form>

                        <!--Edit comment form-->
                        <div class="collapse" id="collapseEdit<%= comment._id %>">
                            <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                                <h4>Yorumunu Düzenle <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </h4>
                                <form id="edit-comment-form<%= comment._id %>"
                                    action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=PUT"
                                    method="POST">
                                    <div class="form-group">
                                        <input class="form-control" type="text" disabled
                                            value="<%= currentUser.username %>">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="comment[text]"
                                            placeholder="Your comment text..."
                                            form="edit-comment-form<%= comment._id %>" rows="5"
                                            cols="70"><%= comment.text %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-warning btn-sm">Yorumunu Düzenle <span
                                                class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <hr>
                    </div>
                </div>
                <% }) %>
            </div>
            <!--COMMENT SECTION END-->


        </div>


    </div>
</div>
</div>



<%- include("../partials/footer") %>